body {
    min-height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch{
    text-align: center;
    padding-bottom: 50px;
    background-color: blue;
}

.buttons{
    background-color: brown;
    display: flex;
    justify-content: center;
}

.btn{
    padding-left: 2 0px;
    padding-right: 20px;
}

#card{
    background-color: red;
    padding-left: 30px;
    padding-right: 30px;
}

#container {
    display: flex;
    border: 2px solid;
    flex-wrap: wrap;
    height: 484px;
    width: 484px;
    box-sizing: border-box;
    background-color: blueviolet;

}

.square {
    border: 1px solid;
    align-items: center;
    justify-content: center;
    color: aqua;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}